h2{
  margin:1em auto;
}

footer{
  background-color: #00172B;
  margin-top:2em;
  padding:2em 0;
}

main{
  margin-top:4.5em;
}

#nav-footer{
  padding:0;
}

.navbar{
  padding-bottom: 0!important;
}

.navbar-toggler{
  border:1px solid#343a40;
}

#home-banner img{
  width:100%;
  background-color: #00172B;
}

#home-banner > div{
  position:absolute;
  right:0;
  top:40%;
  transform: translateY(-40%);
  margin-right: 0.25em;
}

.info_image{
  background-color:#00172B ;
  width:50%;
  height: 350px;
}

.info-container--top{
  margin-top:0;
}

.adress-container{
  margin-top:1.5em;
  padding: 2em 0;
}

.nav-link.active{
  background-color: white!important;
  border-bottom: 2px solid #00172B;
  border-radius: 0;
}

.fixed-top.scrolled {
  background-color: #00172B !important;
  transition: background-color 200ms linear;
}

.fixed-top.scrolled a{
  color: white!important;
  background-color: #00172B !important;
  
}

.fixed-top.scrolled a.active{
  border-bottom: 2px solid white!important;
}

strong{
  font-size:18px;
}

.carousel-item.active{
border:none;
}

#nav-footer a:hover{
  color: white!important;
}